body {
    background-color: #f5f5f5a4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .recuperar-contenedor {
    background-color: rgba(255, 255, 255, 0.489);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .datos {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .datos label {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .datos input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }
  
  .recuperar-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
  }
  