body {
    background-color: #f5f5f5a4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .codigo-contenedor {
    background-color: rgba(255, 255, 255, 0.489);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .codigo-contenedor h2 {
    margin-bottom: 10px;
  }
  
  .codigo-contenedor p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .datos {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .datos label {
    display: block;
    margin-bottom: 8px;
  }
  
  .datos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .codigo-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .codigo-button:hover {
    background-color: #0056b3;
  }
  